.bender
.nfs*
AN.DB
modelsim.ini
work
transcript
*.wlf
scripts/compile_vsim.tcl
scripts/compile_vcs.sh
scripts/__pycache__
bin
sources*.txt
pickle
doc/morty*
bender
morty*



// Templated files
//////////////////
src/axi_llc_status_reg_wrap.sv
src/axi_llc_status_tag_reg_wrap.sv
src/axi_llc_status_tag_reg_pkg.sv
src/axi_llc_status_tag_reg_top.sv
src/axi_llc_status_reg_pkg.sv
src/axi_llc_status_reg_top.sv
data/axi_llc_status_regs.hjson
data/axi_llc_status_tag_regs.hjson
test/tb_axi_llc.sv
sw/include/axi_llc_status_regs.h 
sw/include/axi_llc_status_tag_regs.h 
test/tb_axi_llc.sv
// DMA
//////
src/vendor/dma/data/dma.hjson
src/vendor/dma/data/dma_conf.svh
src/vendor/dma/rtl/dma_reg_pkg.sv
src/vendor/dma/rtl/dma_reg_top.sv
sw/include/dma.h
